:root {
  --primary-main: #007fff;
  --primary-light: #66b2ff;
  --primary-dark: #0059b2;
  --primary-contrast-text: #ffffff;

  --divider: #e5e8ec;

  --background-normal: #FAFAFA;
  --background-paper: #ffffff;
  
  --text-primary: #20262d;
  --text-secondary: #46505a;
  --text-disabled: rgba(0,0,0,0.38);

  --error-main: #eb0014;
  --error-light: #ff99a2;
  --error-dark: #c70011;
  --error-contrast-text: #ffffff;

  --success-main: #1AA251;
  --success-light: #6AE79C;
  --success-dark: #1AA251;
  --success-contrast-text: #ffffff;

  --warning-main: #F1A204;
  --warning-light: #FFE4A3;
  --warning-dark: #F1A204;
  --warning-contrast-text: rgba(0, 0, 0, 0.87);

  --secondary-main: #9c27b0;
  --secondary-light: #ba68c8;
  --secondary-dark: #7b1fa2;
  --secondary-contrast-text: #ffffff;
}

.--shadow-1 {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
}
.--shadow-2 {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
}
.--shadow-3 {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", Oxygen, Ubuntu, Cantarell, 'Open Sans', "Microsoft YaHei UI", "Microsoft YaHei", sans-serif
}

button, input {
  border: unset;
  padding : unset;
  &:focus {
    outline: transparent;
  }
}

header {
  user-select: none;
  & > div {
    padding: 10px 25px;
    display: flex;
    display: --webkit-flex;
    align-items: center;
  }
  position: absolute;
  width: 100%;
  background: var(--primary-main);
  .--shadow-2();
  header-text {
    font-size: 1.25rem;
    color: var(--primary-contrast-text);
    margin: 0 20px;
    font-family: "Roboto", "Helvetica", "Arial", Oxygen, Ubuntu, Cantarell, 'Open Sans', "Microsoft YaHei UI", "Microsoft YaHei", sans-serif
  }
  & + div.app > * {
    padding-top: 64px;
    display: block;
  }
  button {
    background-color: var(--primary-main);
    color: var(--primary-contrast-text);
    width: 3.2em;
    height: 3.2em;
    border-radius: 1.6em;
    svg {
      width: 25px;
      height: 25px;
    }
    &:hover {
      background-color: var(--primary-light);
      transition-duration: 0.1s;
    }
  }
  //User Avator
  & > div > div{
    display: flex;
    justify-content: right;
    width: 100%;
    button {
      background-color: var(--primary-main);
      color: var(--primary-contrast-text);
      width: 3.2em;
      height: 3.2em;
      border-radius: 1.6em;
      img {
        width: 2.2rem;
        height: 2.2rem;
        border-radius: 1.1rem;
      }
    }
  }
}

button.IconButton {
  flex-shrink: 0;
  transition-duration: 0.1s;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  svg {
    color: inherit;
    color: var(--primary-contrast-text);
    path {
      fill: currentcolor;
    }
  }
}

div.app {
  height: 100vh;
  display: flex;
}