side-panel {
  width: 350px;
  flex-shrink: 0;
  background-color: var(--background-paper);
  color: var(--text-primary);
  border-right: 1px solid var(--divider);
}
@media screen and (max-width: 800px) {
  side-panel {
    width: 100%;
    border: unset;
    display: var(--display);
    visibility: var(--visibility);
    min-width: unset;
  }
}
side-panel avator {
  --size: 50px;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  border-radius: calc(var(--size) / 2);
}
side-panel avator img {
  width: var(--size);
  height: var(--size);
  border-radius: calc(var(--size) / 2);
}
side-panel .user-list {
  overflow: auto;
  height: 100%;
}
side-panel .user {
  user-select: none;
  padding: 10px 15px;
  transition-duration: 0.1s;
  display: flex;
}
side-panel .user:hover,
side-panel .user:active {
  background-color: var(--background-normal);
  transition-duration: 0.1s;
}
side-panel .user .user-info {
  max-width: calc(100% - 80px);
  padding: 0px 15px;
}
side-panel .user .user-info group {
  display: block;
}
side-panel .user .user-info group + name {
  font-size: 0.8rem;
  margin-bottom: unset;
}
side-panel .user .user-info name {
  display: block;
  margin-bottom: 0.1rem;
}
side-panel .user .user-info message {
  display: block;
  font-size: 0.75rem;
  color: var(--text-secondary);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
